body {
	background-color: rgba(255,70,198,.2); 
}
.complete { background-color: #ff4b39; }
.inProgress { background-color: yellow; }
.undone { background-color: blue; }
#primary {background-color: gray; }

/*this is a css comment */ 


